*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

li:hover > [hidden] {
  display: unset !important;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.lists-wrapper,
.form-wrapper {
  margin-top: 100px;
}

.list-item {
  display: flex;
  height: 50px;
  line-height: 50px;
}

.list-item p {
  margin: 0 5px;
}

.confidence {
  border: 1px solid #000;
  padding: 25px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: salmon;
}

.glass {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  animation: glassOpacity 0.5s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass::backdrop {
  background: rgba(0, 0, 0, 0.61);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.modal {
  position: relative;
  background-color: var(--background-alt);
  border-radius: 4px;
  padding: 100px;
  animation: modalScale 1s forwards;
  z-index: 10;
}

.modal header {
  background: var(--background);
  margin-bottom: 25px;
  padding: 0 100px;
  width: 100%;
}

.difficulty-range,
.duration-range {
  display: flex;
  align-items: center;
}

.add-activity-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

@keyframes glassOpacity {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes modalScale {
  from {
    transform: scale(0);
  }
}

.open {
  display: block;
}
